[submodule "Stat-Tracker-Frontend"]
	path = Stat-Tracker-Frontend
	url = https://github.com/Stat-Tracker-Application/Stat-Tracker-Frontend.git
[submodule "User-API"]
	path = User-API
	url = https://github.com/Stat-Tracker-Application/User-API.git
